.row {
    height: 100%;
  }
  
  .border1 {
    /* border-color: #007bff !important; */
    background-color: rgba(32, 46, 69, 0.9); 
    border-radius: 20px;
    color:white;
  }

  .login-heading {
    padding: 10px;
}

.fas{
  color:antiquewhite;
}
